@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg-primary: #0d1117;
    --highlight: #373b42;
    --text-color: #b5bdc5;
    --text-active: #d3dce5;
    --highlight-active:#444a54; 
    --link-color: #58a6ff;
    --bg-secondary: #161b22;
    --text-fade: #8b949e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
    font-family: 'Roboto', sans-serif;
}

button {
    outline: none;
    border: none;
}

form {
    width: 75%;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 75%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    appearance: none;
    background-color: var(--text-color);
    border: 1px solid var(--highlight);
    padding: 5px 5px;
}

input[type="text"]:focus {
    border: 1 px solid var(--highlight-active);
}

button[type="submit"] {
    padding: 5px 10px;
    border-radius:  0 5px 5px 0;
    background-color: var(--bg-primary);
    border: 1px solid var(--highlight);
    color: var(--text-color);
    cursor: pointer;
    transition: all 250ms;
}

li {
    list-style: none;
}

button[type="submit"]:hover {
    color: var(--text-active);
    background-color: var(--highlight-active);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

div {
    border: 1px solid var(--highlight);
    width: 75%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.section-heading {
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 15px;
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--highlight);
}

.message {
    text-align: center;
    font-size: 11px;
    color: var(--text-fade);
}

ul {
    padding: 5px 0;
}

li {
    border-bottom: 1px solid var(--highlight);
    padding: 10px;
    color: var(--text-color);
    font-size: small;
    text-transform: lowercase;
}

li:last-child {
    border-bottom: unset;
}

.follower-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}